
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> <!-- Optional theme -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> <!-- Latest compiled and minified JavaScript --> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!--Email: <input type="text" id="username" #username><br><br>
  Password: <input type="password" id="pass" #pass><br><br>
  <button (click)="loginsearch(username.value,pass.value)" >Login</button><br><br>-->
  <!--[routerLink]="['/Login','5']"-->

  <!--<img src="C:\Users\Hend\Desktop\childs.jpg" alt="nooooooo"><br><br>-->
  
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="text-center">Login</h1>
    </div>
  
  <div class="panel-body">
    <div class="row">
      <div class="col-md-7">

              <img src={{img}}/>

      </div>
   
  


<div class="col-md-5">
  
<form aria-colspan="6" style="margin-top:20px">
    <table class="table">
      <thead>
  <div class="form-group">
<tr>
  <td><label for="exampleInputEmail1"> Email</label>
  <input class="form-control" type="text" id="username" #username></td>
    </tr>
    </div>
     <div class="form-group">
    <tr>

  <td><label for="exampleInputPassword1">Password </label>
  
  <input class="form-control" type="password" id="pass" #pass></td>
    </tr>
    </div>
    <tr>
      <td>
  <button class="btn btn-success col-ml-6" (click)="loginsearch(username.value,pass.value)" >Login</button>
 

  <button class="btn btn-success col-ml-6" (click)="loginsearch(username.value,pass.value)" [routerLink]="['/Login',parentId]">Login</button>

  
<label id="msgLbl">{{msg}}</label>
    </tr>
    </thead>
    </table>
  </form>
  </div>
   </div>
  </div>
  
  </div>
    



<!--<div class="panel panel-primary">
    <table class="table">
      <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Telephone</th>
       
      </tr>
      </thead>
      <tbody>

        <tr *ngFor="let c of childs" (click)="selectedChild=c">
          <td><a [routerLink]="['children',c.Id]">{{c.fname}}</a></td>
          <td>{{c.lname}}</td>
          <td>{{c.email}}</td>
          <td>{{c.telephone}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>-->
 
 
 