<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> <!-- Optional theme --> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> <!-- Latest compiled and minified JavaScript --> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<p class="panel-heading">
  Child Information!
</p>
<div class="panel panel-primary">
  <input type="text" #childid/>
  <button class="btn btn-primary" (click)='recentLoc(childid)'>Locations</button>
  <div class="panel panel-primary">
    <table class="table">
      <thead>
      <tr>
        <th>Location</th>
        <th>From</th>
        <th>To</th>
        <th>Wednesday</th>
        <th></th>
      </tr>
      </thead>
      <tbody>

        <tr *ngFor='let c of childinfo'>
          <td>{{c.locationId}}</td>
          <td>{{c.from}}</td>
          <td>{{c.to}}</td>
          <td>{{c.wedns}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>
