<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> <!-- Optional theme --> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> <!-- Latest compiled and minified JavaScript --> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



<div class="panel panel-primary">
   <div class="col-md-11">
   </div>  
   <div class="col-md-1">

<button class="btn btn-danger text-right"  [routerLink]="['/Login']">Logout</button>

      </div>
<h1 class="panel-heading">
  
  Child {{childinfo.fname}} Information!


</h1>
<app-location></app-location>
<div>
  <br/>
  <br/>
  
</div>
<div class="panel panel-heading">
  Today Schedule
</div>

  <div class="panel panel-primary">
    <table class="table">
      <thead>
      <tr>
        <th>Location</th>
        <th>From</th>
        <th>To</th>
      
      </tr>
      </thead>
      <tbody>

        <tr *ngFor='let c of childinfo.schaduals'>

          <td>{{c.location.name}}</td>
          <td>{{c.from}}</td>
           <!--<td *ngIf='c.from === date.toJSON()'>{{c.from}}</td>-->
          <td>{{c.to}}</td>

          <!--<td>{{c.child_Key}}</td>
          <td>{{c.location_Key}}</td> -->
         
         
          
        </tr>
      </tbody>
    </table>
  </div>

 <!-- //////////////////////////////////////////////-->

  <div class="panel panel-heading">
  Recent Locations

</div>

  <div class="panel panel-primary">
    <table class="table">
      <thead>
      <tr>
        <th>Number</th>
        <th>Location</th>
      
      </tr>
      </thead>
      <tbody>

        <tr *ngFor='let c of childinfo.schaduals let i=index'>

          <td>{{i+1}}</td>
          <td>{{c.location.name}}</td>
         
          
        </tr>
      </tbody>
    </table>
  </div>

</div>

